body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

h1{
    color: red;
    font-size: 40px;
}

.btn{
    color: white;
    font-size: 30px;
    background-color: rgb(118, 45, 45);
    width: 90px;
    height: 50px;
    border: none;
    border-radius: 40px;
}

.btn:hover{
    background-color: rgb(181, 45, 45);
    cursor: pointer;
}

.mainSideDiv{

}

.container{
    display: flex;
    width: 420px;
    flex-wrap: wrap;
    gap: 20px;
}

.inputstyle{
    height: 40px;
    width: 420px;
    border-radius: 15px;
    /* border: dotted; */
    border-color: brown;
    font-size: 24px;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "42dot Sans", serif;
    font-weight: bold;
    text-align: end;
}

/* .leftSide{
    width: 50%;
    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.rigthSide{
    width: 50%;
    background-color: rgba(0, 0, 255, 0.685);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
} */