body{
    background: linear-gradient(0deg, #F5F5F7 0%, #F5F5F7 100%), #FFF;
    padding: 10px 184px 40px 140px;
}

.gradientText{
    background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Helvetica Neue";
    font-size: 43.875px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.144px;
}

.bigtitlegray{
    color: #6E6E73;
    font-family: "Helvetica Neue";
    font-size: 43.875px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.144px;
}

#headgradient{
    display: flex;
}

.gradient1{
    width: 60%;
}

.gradient2{
    width: 40%;
    overflow: hidden;
}

#thelatest{
    font-size: 34px;
}

.toprigthitems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.topbar{
    display: flex;
    justify-content: space-between;
}

.helperside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.menubar{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.menu{
    display: flex;
    width: 136px;
    height: 148px;
    padding: 18px 8px 16px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.menu:hover .menuimage{
    zoom: 1.2;
    cursor: pointer;
}

.menu:hover .menutext{
    color: #B64400;
}

.menuimage{
    width: 120px;
    height: 78px;
    flex-shrink: 0;
}

.menutext{
    color: #1D1D1F;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.224px;
}

.productsContainer{
    padding: 0px;
}

.latestContainer{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.latestproduct{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 500px;
    flex-shrink: 0;
    padding: 30px;
    gap: 9px;
    border-radius: 3%;
}

#lp1{
    background: url(images/products/latest1.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#lp2{
    background: url(images/products/latest2.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#lp3{
    background: url(images/products/latest3.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#lp4{
    background: url(images/products/latest4.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#lp5{
    background: url(images/products/latest5.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#lp6{
    background: url(images/products/latest6.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#lp7{
    background: url(images/products/latest7.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#lp8{
    background: url(images/products/latest8.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#lp9{
    background: url(images/products/latest9.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#lp10{
    background: url(images/products/latest10.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#lp11{
    background: url(images/products/latest11.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#lp12{
    background: url(images/products/latest12.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#lptext1{
    color: #B64400;
    font-family: "Helvetica Neue";
    font-size: 11.813px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.12px;
}

#lptext2{
    color: #1D1D1F;
    font-family: "Helvetica Neue";
    font-size: 25.594px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 125.031% */
    letter-spacing: 0.196px;
}

#lptext3{
    color: #1D1D1F;
    font-family: "Helvetica Neue";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 123.529% */
    letter-spacing: -0.374px;
}

.bigContainer2{
    margin: 40px 0px;
}

.personalizationBigContainer{
    display: flex;
    width: fit-content;
    gap: 20px;
}

.bigscroll{
    overflow-x: scroll;
}

.perbigcon{
    width:  fit-content;
}

#personalizationContainerfirst{
    width: 400px;
    height: 500px;
    background: url(images/products/personalization1.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
    border-radius: 3%;
}

#holidayContainerfirst{
    width: 400px;
    height: 500px;
    background: url(images/holiday/holiday1.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
    border-radius: 3%;
}

#personalization1text{
    padding: 53px 30px;
    color: #1D1D1F;
    font-family: "Helvetica Neue";
    font-size: 25.484px;
    font-weight: 700;
    letter-spacing: 0.196px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.personalizationContainer{
    width: 313px;
    height: 500px;
    flex-shrink: 0;
    background: #FFF;
    border-radius: 18px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}

#personalization1{
    
}

.personimage{
    width: 230px;
    height: 230px;
    flex-shrink: 0;
    margin: 41px;
}

#personimage2{
    background: url(images/products/personalization2.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#personimage3{
    background: url(images/products/personalization3.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#personimage4{
    background: url(images/products/personalization4.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#personimage5{
    background: url(images/products/personalization5.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#personimage6{
    background: url(images/products/personalization6.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#personimage7{
    background: url(images/products/personalization7.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#personimage8{
    background: url(images/products/personalization8.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#personimage9{
    background: url(images/products/personalization9.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#personimage10{
    background: url(images/products/personalization10.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#holiday2{
    background: url(images/holiday/holiday2.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#holiday3{
    background: url(images/holiday/holiday3.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#holiday4{
    background: url(images/holiday/holiday4.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#holiday5{
    background: url(images/holiday/holiday5.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#holiday6{
    background: url(images/holiday/holiday6.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#holiday7{
    background: url(images/holiday/holiday7.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#holiday8{
    background: url(images/holiday/holiday8.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

.personitems{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.colors{
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-shrink: 0;
    height: 58px;
}

.color{
    width: 12px;
    height: 12px;
}

.personalizationtexts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 30px;
    height: 100px;
}

.personalizationtext1{
    color: #B64400;
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

    .personalizationName{
    color: #1D1D1F;
    font-family: "Helvetica Neue";
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .personalizationPrice{
    color: #1D1D1F;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.224px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.onlyBig{
    width: 480px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 3%;
}

#onlybig1{
    background: url(images/holiday/big1.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#onlybig2{
    background: url(images/onlyatapple/big2.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#onlybig3{
    background: url(images/onlyatapple/big3.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#onlybig4{
    background: url(images/onlyatapple/big4.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#onlybig5{
    background: url(images/onlyatapple/big5.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#onlybig6{
    background: url(images/onlyatapple/big6.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

.onlyAtApple{
    display: flex;
    gap: 20px;
}

.gridcontainer{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.gridcontainer > div {
    width: 313px;
    height: 240px;
    border-radius: 18px;
    background: #FFF;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
    justify-content: center;
    align-items: center;
  }

  .gridtext{
    color: #1D1D1F;
    font-family: "Helvetica Neue";
    font-size: 21.938px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #appletradein{
    display: flex;
    color: #6E6E73;
    font-family: "Helvetica Neue";
    font-size: 11.813px;
    font-weight: 700;
  }

#personalization2text{
    padding: 23px 30px;
    color: #1D1D1F;
    font-family: "Helvetica Neue";
    font-size: 25.484px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

#descriptiontext{
    color: #1D1D1F;
    font-family: "Helvetica Neue";
    font-size: 17px;
    font-weight: 400;
}

#exp1{
    background: url(images/experience/exp1.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#exp2{
    background: url(images/experience/exp2.png) lightgray 0px 0px / 100% 100% no-repeat;
}

#exp3{
    background: url(images/experience/exp3.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#exp4{
    background: url(images/experience/exp4.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#exp5{
    background: url(images/experience/exp5.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#exp6{
    background: url(images/experience/exp6.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#exp7{
    background: url(images/experience/exp7.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#exp2text{
    color: white;
}

#exptext2{
    display: flex;
    color: white;
    font-family: "Helvetica Neue";
    font-size: 11.813px;
    font-weight: 700;
  }


  .specbig{
    width: 400px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 3%;
}

#spec1{
    background: url(images/spec/spec1.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#spec2{
    background: url(images/spec/spec2.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#spec3{
    background: url(images/spec/spec3.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#spec4{
    background: url(images/spec/spec4.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#spec5{
    background: url(images/spec/spec5.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#spec6{
    background: url(images/spec/spec6.jpeg) lightgray 0px 0px / 100% 100% no-repeat;
}

#spec4text{
    color: white;
}

.foot{
    padding-top: 100px;
}

.quick{
    color: #1D1D1F;
    font-family: "Helvetica Neue";
    font-size: 25.484px;
    font-style: normal;
    font-weight: 700;
}

.footermenu{
    display: flex;
    gap: 12px;
    margin-top: 19px;
    margin-bottom: 37px;
}

.footmenu{
    padding: 11px 16px;
    border: 1px solid black;
    border-radius: 980px;
    color: #1D1D1F;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}