.NavBar{
    background: rgba(245, 245, 247, 0.80);
    backdrop-filter: blur(10px);
    height: 44px;
    justify-content: center;
    align-items: center;
    width: auto;
    display: flex;
    position: sticky;
    top: 0;
    padding: 0;
}
.HeaderMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: auto;
    gap: 24px;
}
li{
    display: flex;
    font-family: "Inter", serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.28px;
}
.SectionContentText{
    width: 1920px;
    height: 52.58px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue";
}
.banners{
    display: grid;
    gap: 12px;
}
.banner1{
    background-image: url(images/iphone16pro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 544px;
    color: white;
}

.bannerBigText{
    display: flex;
    justify-content: center;
    font-family: Inter;
    font-style: normal;
    letter-spacing: -0.28px;
}
#banner1Text{
    font-size: 51.406px;
    font-weight: 600;
    margin-bottom: auto;
    margin-top: 15px;
}
#bannerText2{
    font-size: 24.281px;
    font-weight: 400;
    letter-spacing: 0.196px;
}
.TwoButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
.learnmore{
    width: 130.72px;
    height: 44px;
    padding: 12px 22px 12px 22px;
    flex-shrink: 0;
    border-radius: 980px;
    background: #0071E3;
    color: white;
    border: 1px solid #0071E3;
}
#learnmore2{
    border: 1px solid #ffffff;
    background-color: white;
    color: black;
}
#buy2{
    border: 1px solid #ffffff;
}
.buy{
    width: 130.72px;
    height: 44px;
    padding: 12px 22px 12px 22px;
    flex-shrink: 0;
    border-radius: 980px;
    background: transparent;
    color: white;
    border: 1px solid #0071E3;
}
.banner2{
    background-image: url(images/iphone16blue.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 544px;
    color: white;
}
.banner3{
    background-image: url(images/gift.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 544px;
}
.banner3content{
    margin-top: 350px;
}
.productlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.twoproduct{
    display: flex;
    gap: 10px;
}

.product{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 544px;
}
.ipad{
    background-image: url(images/ipad.jpeg);
    color: rgb(0, 0, 0);
}
.watch{
    background-image: url(images/watch.jpeg);
    color: rgb(0, 0, 0);
}
.air{
    background-image: url(images/air.jpeg);
    color: rgb(0, 0, 0);
}
.airpods{
    background-image: url(images/airpods.jpeg);
    color: rgb(255, 255, 255);
}
.tradein{
    background-image: url(images/tradein.jpeg);
    color: rgb(0, 0, 0);
}

.card{
    background-image: url(images/card.jpeg);
    color: rgb(0, 0, 0);
}

#tradeinbutton{
    padding: 12px 10px 12px 10px;
}
#minibannerText2{
    text-align: center;
}

#minibannerbutton{
    color: #0071E3;
}

#gradenttext{
    margin-top: 330px;
    background: linear-gradient(90deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.movies{
    display: flex;
    background-size: cover;
    background-position: center;
    gap: 20px;
    width: 1920px;
    overflow-y: scroll;
    margin: 20px 0px;
}

.movie{
    width: 1250px;
    height: 667.25px;
    flex-shrink: 0;
}

#movie2{
    background-image: url(images/movie2.jpeg);
    opacity: 0.29;
}
#movie1{
    background-image: url(images/movie1.jpeg);
}
#movie3{
    background-image: url(images/movie3.jpeg);
    opacity: 0.29;
}

.pagenavigation{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.footerslide{
    display: flex;
    gap: 15px;
}

.footer{
    width: 417px;
    height: 236px;
    flex-shrink: 0;
}

#gradient{
    width: 417px;
    height: 236px;
    flex-shrink: 0;
    background-image: linear-gradient(0deg, rgba(29, 29, 31, 0.50) 0%, rgba(0, 0, 0, 0.00) 50%);
    z-index: 1;
}

.footerslide{
    display: flex;
    animation: scroll 30s linear infinite;
    width: fit-content;
    height: fit-content;
}

.scrollslide{
    overflow: scroll;
}

@keyframes scroll {
    0%{
        transform: translateX(100%);
    }    
    100%{
        transform: translateX(-100%);
    }
}

#footer1{
    background-image: url(images/footer1.jpeg);
}

#footer2{
    background: #1B2632;
}

#footer3{
    background-image: url(images/footer3.jpeg);
}
#footer4{
    background-image: url(images/footer4.jpeg);
}
#footer5{
    background-image: url(images/footer5.jpeg);
}

#footer2poster{
    border-radius: 8px;
}

.footeritems{
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: end;
    padding: 15px 23px;
    color: white;
    font-family: Inter;
    font-size: 14px;
    letter-spacing: -0.224px;
}
.footright{
    display: flex;
    width: 24px;
    height: 24px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    background: #D2D2D7;
}
.foooot{
    display: flex;
    justify-content: end;
    padding: 16px 22px;
}