body{
    width: 1920px;
    height: 100vh;
}

.mainDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.topBarClass{
    display: flex;
    margin: 10px 100px;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
}

.navbar{
    width: 100%;
    padding-left: 100px;
    display: flex;
    align-items: center;
}

.navLeftClass{
    display: flex;
    width: 50%;
    height: 50px;
}

.navRightClass{
    display: flex;
    height: 50px;
    justify-content: end;
    gap: 10px;
}

.logoClass{
    display: flex;
    width: 280px;
    height: 50px;
    background-image: url(images/Logo.png);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.menuClass{
    display: flex;
    padding-right: 20px;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
}

.buyNow{
    display: flex;
    background-color: green;
    color: white;
    padding: 0px 20px;
    font-family: "IBM Plex Sans", serif;
    justify-content: end;
    align-items: center;
}

.mainContentClass{
    display: flex;
    flex-direction: row;
    width: 100wh;
    height: 700px;
    margin: 10px 100px ;
    gap: 10px;
}

.mainContentLeftClass{
    display: flex;
    width: 50%;
    background-image: url(images/image.png);
    background-size: cover;
    font-size: 36px;
    font-family: "IBM Plex Sans", serif;
    color: white;
    padding: 50px 50px;
    justify-content: end;
    align-items: end;

}

.mainContentrightClass{
    display: flex;
    width: 100vh;
    gap: 10px;
}

.contentRightZuunClass{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 10px;
}

.contentRightBaruunClass{
    display: flex;
    width: 50%;
    background-color: orange;
}

.contentRightZuunNegClass{
    display: flex;
    height: 50%;
    color: black;
    background-image: url(images/image1.png);
    background-size: cover;
    font-size: 26px;
    font-family: "IBM Plex Sans", serif;
    color: white;
    padding: 20px 20px;
    justify-content: end;
    align-items: end;
}

.contentRightZuunHoyorClass{
    display: flex;
    height: 50%;
    background-color: black;
    background-image: url(images/image2.png);
    background-size: cover;
    font-size: 26px;
    font-family: "IBM Plex Sans", serif;
    color: white;
    padding: 20px 20px;
    justify-content: end;
    align-items: end;
}